body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header.header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin: 0 0 20px 0;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    color: white;
}

.book-detail-container {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.book-image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-description {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1.1em;
}

.book-author, .book-price {
    font-size: 1.2em;
    margin: 10px 0;
    color: #1d3557;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d3557;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    border: none;
    transition: 0,9s ease-in-out;
}

.back-button__link {
    color: white;
    text-decoration: none;
}

.back-button:hover {
    background-color: #457b9d;
}


footer.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}